body{
   
    padding: 5px;
    margin: 3px;

}
#banner{
    width: 100%;
}
.principal{
    padding: 2px;
    background:#CCCCCC
}
.titulo-principal{
    padding-left:20px;
    font-size: 75px;
}
.titulo-centralizado{
    text-align: center;
    font-size:70px;
}
p{
    text-align: center;
    font-size: 30px;
}
#missao{
    font-size:35px;
}
em strong{
   color: blue;
}
.itens{
    font-size: 30px;
    font-style: italic;
}
.beneficios{
   background: rgb(255, 255, 255);
}
ul{
    display: inline-block;
    vertical-align: top;
    width:20%;
    margin-right: 15%;
}
.imagembeneficios{
    width:50%;
}

 header{
    background: #BBBBBB;
    padding: 20px 0;
 }
 .caixa{
   position:relative;
   width: 940px;
   margin: 0 0;
 }
 nav{
   position:inline;
   top:110px;
   right:50%;
 }
 nav li{
    display: inline;
    margin: 0 0 0 1200px;
 }
 nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
   
 }
 nav a:hover {
   color: crimson; 
   text-decoration: underline;
 }